html {
    margin: 0;
}

.container{
    width: 500px;
    padding: auto;
    margin: auto;

    display: flex;
    flex-flow: row wrap; 
    align-items: center; 
    justify-content: center; 
}

#output{
    border: 1px solid rgb(248, 244, 244);
    height: 50px;
    width: 250px;
    margin-bottom: 10px;
}

button{
    height: 60px;
    width: 60px;
    border-radius: 3px;
    cursor: pointer;
    transition: all ease-in 0.3s;
    margin-bottom: 5px;
}

button:hover{
    background-color :#d1caca;
    transition: all ease-out 0.3s;
}

